extends ../layout
block body
  .row
    .col-md-8
      h3= contest.name

      for category in contest.categories
        .admin-category
          h4= category.name
          for entry in category.entries
            h5
              code= entry.votes.length
              = ' ' + entry.name
              small= ' ' + entry.attachment
              form.pull-right(action="/admin/contests/#{contest.id}/entries/#{entry.id}?_method=DELETE" method='POST')
                input.btn.btn-xs.btn-danger(type='submit' value='x')
          if category.entries.length == 0
            p: small No entries in this category
          hr
          h6 Add and entry
          form.form-inline(action="/admin/contests/#{contest.id}/categories/#{category.id}/entries" method='POST' enctype='multipart/form-data')
            .row
              .form-group.col-md-4
                input.form-control(type='text' name='entry[name]' placeholder='Name')
              .form-group.col-md-6
                input.form-control(type='file' name='attachment')
              .col-md-2
                input.btn.btn-default(type='submit' value='Add')

      if contest.categories.length == 0
        p: small There are no categories.

    .col-md-4
      .panel.panel-default
        .panel-heading: h3.panel-title Create a Category
        .panel-body
          form(action="/admin/contests/#{contest.id}/categories" method='POST')
            .form-group
              label Category Name
              input.form-control(type='text' name='category[name]')
            input.btn.btn-default(type='submit' value='Create')

      .panel.panel-danger
        if contest.open
          .panel-heading: h3.panel-title Close Contest
          .panel-body
            p Prevent further voting for this contest.
            form(action="/admin/contests/#{contest.id}/close" method='POST')
              input.btn.btn-danger(type='submit' value='Close it!')
        else
          .panel-heading: h3.panel-title Open Contest
          .panel-body
            p Open this contest for user voting.
            form(action="/admin/contests/#{contest.id}/open" method='POST')
              input.btn.btn-danger(type='submit' value='Open it!')
