extends ../layout
block body
  .row
    .col-md-8
      h2= contest.name


      for category in contest.categories
        .admin-category
          form.pull-right(action="/admin/contests/#{contest.id}/categories/#{category.id}?_method=DELETE" method='POST')
            input.btn.btn-xs.btn-default(type='submit' value='Delete Category')
          h3= category.name
          - var n = 0
          - var entries_per_row = 4
          - var row_count = Math.ceil(category.entries.length/entries_per_row)
          while n < row_count
            .row
              for entry in category.entries.slice(n*entries_per_row, (n+1)*entries_per_row)
                .entry.col-md-3(data-entry=entry)
                  .thumbnail(href='#')
                    img(src=entry.attachment)
                    .caption
                      h5= entry.name
                      code= entry.votes.length
                      form.pull-right(action="/admin/contests/#{contest.id}/entries/#{entry.id}?_method=DELETE" method='POST')
                        input.btn.btn-xs.btn-danger(type='submit' value='x')
            - n++

          if !contest.open
            hr
            h6 Add and entry
            form.form-inline(action="/admin/contests/#{contest.id}/categories/#{category.id}/entries" method='POST' enctype='multipart/form-data')
              .row
                .form-group.col-md-4
                  input.form-control(type='text' name='entry[name]' placeholder='Name')
                .form-group.col-md-6
                  input.form-control(type='file' name='attachment')
                .col-md-2
                  input.btn.btn-default(type='submit' value='Add')

        if category.entries.length == 0
          p: small No entries in this category

      if contest.categories.length == 0
        p: small There are no categories.

    .col-md-4
      if contest.open
        .panel.panel-danger
          .panel-heading: h3.panel-title Close Contest
          .panel-body
            p Prevent further voting for this contest.
            form(action="/admin/contests/#{contest.id}/close" method='POST')
              input.btn.btn-danger(type='submit' value='Close it!')
      else
        .panel.panel-default
          .panel-heading: h3.panel-title Create a Category
          .panel-body
            form(action="/admin/contests/#{contest.id}/categories" method='POST')
              .form-group
                label Category Name
                input.form-control(type='text' name='category[name]')
              input.btn.btn-default(type='submit' value='Create')

        .panel.panel-success
          .panel-heading: h3.panel-title Open Contest
          .panel-body
            p Open this contest for user voting.
            form(action="/admin/contests/#{contest.id}/open" method='POST')
              input.btn.btn-success(type='submit' value='Open it!')
