extends layout
block body
  .row#contest(data-id=contest.id): .col-md-12
    h3= contest.name

    for category in contest.categories
      .category
        h4= category.name
        .row
          for entry in category.entries
            .entry.col-md-3(data-entry=entry)
              a.thumbnail(href='#')
                img(src=entry.attachment)
                .caption: h5= entry.name
        if category.entries.length == 0
          p: small No entries in this category

    if contest.categories.length == 0
      p: small There are no categories.

  .row: .col-md-12
    a.btn.btn-primary#submit-vote Vote
