extends layout
block body
  if contest.already_voted
    .row: .col-md-6.col-md-offset-3
      .alert.alert-info
        strong Thanks for voting!
        |  You can only vote once in a contest.

  .row
    .col-md-12
      h1.big-title= contest.name

      for category in contest.categories
        - var n = 0
        - var entries_per_row = 4
        - var row_count = Math.ceil(category.entries.length/entries_per_row)
        .category.box
          h3.box-title= category.name
          while n < row_count
            .row
              for entry in category.entries.slice(n*entries_per_row, (n+1)*entries_per_row)
                .entry.col-md-3(data-entry=entry)
                  .thumbnail(href='#')
                    span.badge= entry.votes.length
                    img(src=entry.attachment)
                    if entry.name
                      .caption: h5= entry.name
            - n++

          if category.entries.length == 0
            p: small No entries in this category

      if contest.categories.length == 0
        p: small There are no categories.
