extend ../../views/layout

block content
  h2.factoryize.upcase= contest.name
  hr
  if contest.categories.length == 0
    p: small No categories
  else
    for category in contest.categories
      .category-container
        h3.factoryize.bold.orange= category.name
        if category.entries.length == 0
          p: small No entries
        else
          if category.voted_on_by(user)
            h6.category-message You have already voted.
            ul.thumbnails
              for entry in category.entries
                if entry.slug
                  li.entry.span4
                    .thumbnail
                      img(src="http://instagr.am/p/#{entry.slug}/media/?size=l")
                else
                  li.entry.span2: .thumbnail: h4= entry.name
          else
            ul.thumbnails
              for entry in category.entries
                if entry.slug
                  li.entry.span4(data-contest=contest.id, data-category=category.id, data-entry=entry.id)
                    a.vote.thumbnail(href="#")
                      img(src="http://instagr.am/p/#{entry.slug}/media/?size=l")
                else
                  li.entry.span2(data-contest=contest.id, data-category=category.id, data-entry=entry.id)
                    a.vote.thumbnail(href="#")
                      h4= entry.name

    .row: .span12
      a.btn.btn-factory-orange.btn-huge.done(href='#') Done
      br
      br
