extend layout

block content
  h3= contest.name
  pre.hide= contest
  if contest.entries.length == 0
    p: small No entries
  else
    if contest.voted_on_by(user)
      h6 You have already voted.
      ul.thumbnails
        for entry in contest.entries
          li.span2: .thumbnail
            img(src="http://instagr.am/p/#{entry.slug}/media/?size=t")
    else
      h4 Click to vote:
      ul.thumbnails
        for entry in contest.entries
          li.span2: a.thumbnail(href="/contests/#{contest.id}/entries/#{entry.id}/vote")
            img(src="http://instagr.am/p/#{entry.slug}/media/?size=t")
