extend ../../views/layout

block content
  h2.factoryize.upcase= contest.name
  hr
  if contest.categories.length == 0
    p: small No categories
  else
    for category in contest.categories
      .category-container
        h3.factoryize.bold.orange= category.name
        if category.entries.length == 0
          p: small No entries
        else
          if category.voted_on_by(user)
            .alert: strong You have already voted.
          .entries.clearfix
            for entry in category.entries
              .entry.vote(data-contest=contest.id, data-category=category.id, data-entry=entry.id)
                if entry.slug
                  img.img-polaroid(src="http://instagr.am/p/#{entry.slug}/media/?size=l")
                else if entry.image_url
                  img.img-polaroid(src=entry.image_url)
                if entry.name
                  h4= entry.name
                if category.voted_on_by(user) && contest.show_results
                  span.badge.pull-right= entry.votes

    if !contest.categories[0].voted_on_by(user)
      .row: .span12
        a.btn.btn-factory-orange.btn-huge.done(href='#') Done
        br
        br
